
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
window.onbeforeunload=function(){
	$.getJSON('/_out', { });
}
</script>
                
<html>
<head>
<title>IMG</title>
<body>
<a href="file:///C:/Users/Dinesh/Desktop/Reg_form.html"><img src="C:/Users/Dinesh/Pictures/Wallhaven/2.jpg" alt="Wallhaven" width="800" height="400"></a>
<video width="400" height="200" controls><source src="D:/Locker/Science/PIs/wireless_energy_transfer.mp4" type="video/mp4"></video>
</body>
</head>
</html>

<script type="text/javascript">
window.onunload=ty()
function ty(){
	$.getJSON('/_in', { });
}
</script>